/* Metade dos ultimos capitulos:                                                                               */

section#lancamentos.lanc-page {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 2rem;
}

section#lancamentos #capitulos.lanc-page, section#lancamentos #mangas.lanc-page {
    background-color: #2A282B;
}

/* Título de das duas metades da página */
section#lancamentos .div-header {
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    color: #FFF;
    background-color: rgba(122, 63, 163, 0.6);
    padding: 0.25rem 1.5rem;
    margin-bottom: 1rem;
}

/* Container onde os mangas vao ser exibidos */
section#lancamentos #capitulos .mangas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* Card do manga */
section#lancamentos #capitulos .mangas .manga {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    flex-direction: row;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    padding-right: 0.5rem;
}
/* Ação hover do card do manga */
section#lancamentos #capitulos .mangas .manga:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition: all ease-in-out 200ms;
}
/* Container da imagem do manga */
section#lancamentos #capitulos .mangas .manga .manga-img {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    width: 20%;
    max-width: 20%;
    height: auto;
}
/* Imagem do manga */
section#lancamentos #capitulos .mangas .manga .manga-img img {
    width: 100%;
    height: auto;
}
/* Container que vai conter as informações do mangá */
section#lancamentos #capitulos .mangas .manga .manga-info {
    width: 80%;
    max-width: 80%;
    height: auto;

    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
}
/* Titulo do manga */
section#lancamentos #capitulos .mangas .manga .manga-info .manga-title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 0.25rem;
    color: #FFF;
}
/* Container dos capitulos */
section#lancamentos #capitulos .mangas .manga .manga-info .manga-chapters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.25rem;
}
/* Capitulo */
section#lancamentos #capitulos .mangas .manga .manga-info .manga-chapters .chapter {
    font-size: 20px;
    padding: 0.3rem 0.75rem;
    color: #FFF;
    background-color: #7A3FA3;
    border-bottom-right-radius: 1rem;
}
/* Evento hover do Capitulo */
section#lancamentos #capitulos .mangas .manga .manga-info .manga-chapters .chapter:hover {
    background-color: #5A2A8E;
    transition: all ease-in-out 200ms;
}
/* Link do Capitulo */
section#lancamentos #capitulos .mangas .manga .manga-info .manga-chapters .chapter a {
    color: #FFF;
    text-decoration: none;
}
/* Autor do manga */
section#lancamentos #capitulos .mangas .manga .manga-info .manga-author {
    margin-top: auto;
    padding-bottom: 0.5rem;

    font-size: 20px;
    font-weight: 500;
    color: #FFF;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */



/* Metade dos ultimos mangas:                                                                            */

/* Container onde os mangas vao ser exibidos */
section#lancamentos #mangas .mangas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* Card do manga */
section#lancamentos #mangas .mangas .manga {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    flex-direction: row;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    padding-right: 0.5rem;
}
/* Ação hover do card do manga */
section#lancamentos #mangas .mangas .manga:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all ease-in-out 200ms;
}
/* Container da imagem */
section#lancamentos #mangas .mangas .manga .manga-img {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    width: 20%;
    max-width: 20%;
    height: auto;
}
/* Imagem do manga */
section#lancamentos #mangas .mangas .manga .manga-img img {
    width: 100%;
    height: auto;
}
/* Container que vai conter as informações do mangá */
section#lancamentos #mangas .mangas .manga .manga-info {
    width: 80%;
    max-width: 80%;
    height: auto;

    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
}
/* Titulo do manga */
section#lancamentos #mangas .mangas .manga .manga-info .manga-title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 0.1rem;
    color: #FFF;
}
/* Autor do manga */
section#lancamentos #mangas .mangas .manga .manga-info .manga-author {
    padding-bottom: 0.5rem;

    font-size: 20px;
    font-weight: 500;
    color: #FFF;
}
/* Container dos generos */
section#lancamentos #mangas .mangas .manga .manga-info .manga-genres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.25rem;
}
/* Genero */
section#lancamentos #mangas .mangas .manga .manga-info .manga-genres .genre {
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    font-size: 14px;
    background-color: #FFF;
    color: #444;
    padding: 0.1rem 0.4rem;
}
/* Ação hover do genero */
section#lancamentos #mangas .mangas .manga .manga-info .manga-genres .genre:hover {
    cursor: pointer;
    background-color: #CCC;
    transition: all ease-in-out 200ms;
}
/* Link do genero */
section#lancamentos #mangas .mangas .manga .manga-info .manga-genres .genre a {
    color: #444;
    text-decoration: none;
}
/* Descrição do mangá */
section#lancamentos #mangas .mangas .manga .manga-info .manga-desc {
    margin-top: 0.25rem;
    font-size: 13px;
    font-weight: 400;
    color: #FFF;
    text-align: justify;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */