*{                                  /* Parte da barra de menus */
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
}

.container-auth {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/fundo.png");
    background-repeat: no-repeat;
    background-size:cover;    
    overflow: hidden;
}

/*Cor do fundo*/ 

.background-color{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    max-height: 100vh;
}


.card{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    margin-top: 10%;
}


/* Finalizar Barra de Menus */

.container{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, .212);
    margin-left: 12%;
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button{
    border: none;
    background-color: #00bda7;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: rgba(22,21,29,0);
}

.login-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 6.2rem;
    height: 0.3rem;
    background-color:  #7A3FA3;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}


.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    margin-bottom: 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000005b;
}
.input-box input.errored {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: all ease-in-out 200ms;
}
.input-box span.errored {
    box-shadow: 1px 1px 6px #0000005b;

    font-size: 14px;
    text-align: center;

    display: block;
    color: #FFF;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 4px 12px;
    background-color: red;

    transition: all ease-in-out 200ms;
}

.input-box input:hover {
    background-color: #eeeeee42;
}

.input-box input:focus-visible {
    outline: 1px solid  #7A3FA3;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder{
    color: #000000be;
}

.continue-button button{
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #7A3FA3;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover{
    filter: contrast(120%);
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #ffffff;
}


.form-cadastro{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    padding: 3rem;
    box-shadow: inset 0.2em 0 0.7em #7A3FA3;
}

.title-genero{
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
}    
