@media(max-width: 1210px) {
    section#lancamentos {
        flex-direction: column;
        padding: 6rem 0;
    }

    section#lancamentos div#lancText {
        order: 1;
    }

    .lanc-manga .lanc-title {
        margin-top: 2rem;
    }
    .lanc-manga .btn {
        padding: 24px 80px;
    }
}

@media(max-width: 991px) {
    nav ul {
        display: none;

        /*
            Falta criar o menu do celular
        */
    }
}



/*
        Parte responsiva do login e cadastro
*/

@media screen and (max-width: 1330px){       /* max-width: 1330px */
    #container1{
        width: 80%;
    }

    #form-cadastro {
        width: 100%;
    }
    #form-login {
        width: 100%;
    }
    #title{
        margin-top: 80px;
    }
    #gender-group{
        display: inline-flex;
    }
}


@media screen and (max-width: 1064px) {
    #container {
        width: 90%;
        height: auto;
    }
    #input-group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
    #gender-inputs {
        margin-top: 2rem;
    }
    #gender-group {
        flex-direction: column;
    }
    #gender-input {
        margin-top: 0.5rem;
    }
}