@media(max-width: 1210px) {
    section#lancamentos {
        flex-direction: column;
        padding: 6rem 0;
    }

    section#lancamentos div#lancText {
        order: 1;
    }

    .lanc-manga .lanc-title {
        margin-top: 2rem;
    }
    .lanc-manga .btn {
        padding: 24px 80px;
    }
}

@media(max-width: 1091px) {
    nav ul {
        margin: 0;
        display: none;
        flex-direction: column;
        margin-left: 0;
        position: absolute;
        top: 80px;
        gap: 0;
        height: calc(100vh - 80px);
        left: 0;
        right: 0;
        bottom: 0;
        border-top: 1px solid #7A3FA3;
        background-color: rgba(0, 0, 0, 0.6);
    }
    nav ul.show {
        display: flex;
    }
    .nav-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        border-bottom: 1px solid #7A3FA3;
    }
    .nav-item:last-child {
        margin-top: auto;
    }
    .nav-item a:not(.btn-header) {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        height: 100%;
        text-align: center;

        background-color: rgba(0, 0, 0, 0);
    }
    .nav-item a:not(.btn-header):hover {
        background-color: #5A2A8E;
        transition: all ease-in-out 400ms;
    }
    .nav-item .btn-header {
        border-radius: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        margin-top: auto;
    }

    .hover-line:hover {
        transform: scale(1);
    
        transition: all ease-in-out 400ms;
    }
    
    .hover-line::after {
        transition: all ease-in-out 400ms;
    }
    .hover-line:hover::after {
        z-index: 10;
        background-color: #5A2A8E;
        transition: all ease-in-out 400ms;
    }

    nav .mobile-menu {
        display: flex;
    }
}



/*
        Parte responsiva do login e cadastro
*/

@media screen and (max-width: 1491px){       /* max-width: 1330px */
    #container1{
        width: 80%;
    }

    #form-cadastro {
        width: 100%;
    }
    #form-login {
        width: 100%;
    }
    #title{
        margin-top: 80px;
    }
    #gender-group{
        display: inline-flex;
    }
}


@media screen and (max-width: 1191px) {
    .container-auth {
        overflow-y: auto;
    }
    #container {
        width: 90%;
        height: auto;
        flex-direction: column;
    }
    .form-cadastro {
        box-shadow: inset top 0.2em 0 0.7em #7A3FA3;
    }
    .form-cadastro, .form {
        width: 100%;
    }

    #input-group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
    #gender-inputs {
        margin-top: 2rem;
    }
    #gender-group {
        flex-direction: column;
    }
    #gender-input {
        margin-top: 0.5rem;
    }
}