.container-geral {
    width: 100vw;
    height: 100vh;
    background: #16151D;
    display: flex;
    padding-top: 5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    
.box {
    position: relative;
    width: 60%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1c1c1c;
    color: white;
    padding: 3rem;
    border-radius: 15px;
}

.title-cont{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.input-box2 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
.input-box2 textarea {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.input-box2 input {
    margin-bottom: 0;
    padding: 0.8rem 8.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000005b;
    text-align: center;
}
.input-box2 input.errored {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: all ease-in-out 200ms;
}
.input-box2 span.errored {
    box-shadow: 1px 1px 6px #0000005b;
    font-size: 14px;
    text-align: center;
    display: block;
    color: #FFF;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 4px 12px;
    background-color: red;

    transition: all ease-in-out 200ms;
}

.input-box2 input:hover {
    background-color: #d3d3d3;
}

.input-box2 input:focus-visible {
    outline: 3px solid  #7A3FA3;
}

.input-box2 label{
    color: white;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}

.input-box2 select{
    border: none;
    border-radius: 10px;
    padding: 0.8rem 8.2rem;
    justify-content: center;
}


.input-box2 select:focus-visible{
    outline: 3px solid  #7A3FA3;
    
}

.enviar-button button{
    width: 100%;
    border: none;
    background-color: #7A3FA3;
    padding: 0.8rem 4.0rem;
    border-radius: 5px;
    cursor: pointer;
}

.enviar-button button:hover{
    filter: contrast(120%);
}

.enviar-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #ffffff;
}

